.gitignor# Node modules
node_modules/

# Logs
*.log
logs/

# Temporary folders
temp/

# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# Editor metadata
.vscode/
.idea/

# Environment files
#.env
.env.local
.env.*.local


